<h1>About</h1>
<p><a href="http://mde.tw/eng">http://mde.tw/eng</a> 是協同設計室 - 資訊實習組的網頁</p>
<p>公開論壇: <a href="https://groups.google.com/a/mde.nfu.edu.tw/forum/#!forum/talk">https://groups.google.com/a/mde.nfu.edu.tw/forum/#!forum/talk</a> </p>
<p style="padding-left: 30px;">建立這個群組的主要目的:<br/><br/>    1. 透過論壇討論強化學長制的推動<br/>    2. 透過論壇討論落實理論與實作結合學習<br/>    3. 讓職場中的學長姊有機會提供經驗談<br/><strong><span style="text-decoration: line-through;"></span></strong></p><h2>學長制</h2>
<p>每一個學年都有新生入學, 每一個尚未踏入校園的新生, 都面臨過去幾年學長所曾經面對過的相同或類似問題.</p>
<p>因此, 透過近幾年機械設計工程系與精密機械工程科的學長, 所留下的各種生活與求學經驗整合, 可以讓每年的新生, 更快適應環境, 並即時找到值得自己努力的方向.</p>
<p>今天的新生就是明年的學長, 假如我們有很棒的文化, 應該要一代傳一代, 假如沒有:</p>
<p style="padding-left: 30px;">就應該從今天開始建立值得世代傳承的文化</p>
<p>文化 - 是一群人在長時間的潛移默化下, 共同的認知, 可言傳或只能意會, 且不斷因應環境變化持續改進的優良傳統.</p>
<p>第一: 你希望生活作息規律正常嗎?</p>
<p>第二: 你希望大學生活過得多采多姿嗎?</p>
<p>第三: 你希望學業成績與專業實力日益進步嗎?</p>
<p>第四: 你希望從學長們寶貴的經驗中, 穩步地追求人生目標嗎?</p>
<h1>曾經的紅蜻蜓</h1>
<p>紅蜻蜓安在?<br/><br/>不知道有多少人還記得,雲林工專時代的機械設計科學會曾經以紅蜻蜓作為精神的象徵,即使畢業後仍然以鮮明的紅蜻蜓作為科友會網站的名稱.<br/><br/>當時,學長制的傳承與科學會的交接過程,一直都是在校學弟妹與學長姊非常重視的儀式,除了有固定的流程,現場還會集思廣益,無所不用其極,用盡各種花招,以突顯紅蜻蜓的熱情精神,印象最深的一次,是在三期大樓頂樓,燭火滿佈的走道盡頭,燃燒著烈焰沖天的特大號"紅蜻蜓",伴隨著精神抖擻的歌聲,最後終於引來兩輛鎮公所的消防車(學校後方的店家由下而上,見到熊熊火光後"主動"報案),而結束這場"隆重"的學會幹部交接典禮.<br/><br/>之後,卸下系主任,也曾經幾次感受到這些所謂紅蜻蜓的傳承,並不只是被用來維繫這些年輕人之間的感情,而是希望能夠藉由紅蜻蜓的精神,昭告世界,"我們都已經長大,好多夢還要飛,就像心目中紅色的蜻蜓!"</p>
<h1>四項能力</h1>
<p>Mechanical Design Engineering</p>
<p>PMPC</p>
<p>(1) <span style="color: #000000; background-color: #ffff00;">程式能力 (Programming)<br/></span></p>
<p style="padding-left: 30px;">運用電腦的運算能力</p>
<p style="padding-left: 30px;">運用虛擬的優勢</p>
<p>(2) <span style="background-color: #ffff00;">數學能力 (Mathematics)<br/></span></p>
<p style="padding-left: 30px;">利用數學模型驗證設計合理與可行性</p>
<p>(3) <span style="background-color: #ffff00;">表達能力 (Presentation)<br/></span></p>
<p style="padding-left: 30px;">利用口語表達</p>
<p style="padding-left: 30px;">利用 2D 與 3D 視覺工具表達</p>
<p style="padding-left: 30px;">利用文字表達</p>
<p style="padding-left: 30px;">利用設計原型表達</p>
<p> (4) <span style="background-color: #ffff00;">溝通能力 (Communication)</span></p>
<p style="padding-left: 30px;">與同事溝通</p>
<p style="padding-left: 30px;">與客戶溝通</p>
<p style="padding-left: 30px;">與文獻溝通</p>
<p><img caption="false" height="211" src="/images/nfu_logo.png" width="200"/></p>
<p><img alt="" height="227" src="/images/nfu_logo_mde.png" width="200"/></p>
<p></p><h1>進行中專案</h1>
<p>MDE 網路管理系統</p>
<p style="padding-left: 30px;"><a href="https://blog.hizkifw.me/posts/openwisp/">https://blog.hizkifw.me/posts/openwisp/</a></p>
<p style="padding-left: 30px;"><a href="http://openwisp.org/">http://openwisp.org/</a></p>
<p>電腦輔助設計室軟硬體管理系統</p>
<p style="padding-left: 30px;"><a href="https://github.com/mdecourse/cd2020pj1">https://github.com/mdecourse/cd2020pj1</a></p>
<p></p>
<h1>資訊實習組</h1>
<h4>資訊</h4>
<h4 style="padding-left: 30px;">每月線上聚會</h4>
<h4 style="padding-left: 30px;">電腦與網路軟硬體維護與管理</h4>
<h4>實習</h4>
<h4 style="padding-left: 30px;">網際管理系統開發</h4>
<h4 style="padding-left: 30px;">大容量 3D 列印機</h4>